PATHPROJECT="/var/www/project.com/"
PATHMAGENTO="/var/www/project.com/htdocs/"
LOCALXML="local.xml.vagrant"
URL="http://project.vagrant/"
URL2="http://other.project.vagrant/"
STORE_ID_2="2"
EMAIL="email@email.it"
MAGE_CONFIG="/var/www/project.com/mage_config"
MAGE_CONFIG_ENV="vagrant/custom"
N98MAGERUN_SCRIPT="scripts/n98-magerun/local/vagrant.magerun"